.body{
    width: 300px;
    margin-right: 10px;
    height: 100%;
    border-radius: 3px;
    .content{
        box-sizing:border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        .header{
            background-color: #ebecf0;
            padding: 10px;
            position: relative;
            .delete{
                position: absolute;
                right: 6px;
            }
        }
        .center{
            background-color: #ebecf0;
            overflow-y: auto;
            padding: 0px 8px;
        }
    }
}